body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.background {
    background-color: black;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-content {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: red;
}

.footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.social-links a {
    color: white;
    margin: 0 10px;
}

.social-links a:hover {
    color: red;
}

.image {
    margin-right: 20px;
}

.content {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .video-container .content {
    margin-top: 20px; /* Adjust as needed */
  }
  .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .flexbox1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto; /* Centers the container horizontally */
  }
  
  .image1 {
    flex: 1;
  }
  
  .content1 {
    flex: 1;
    padding: 20px; /* Adjust spacing as needed */
    max-width: 400px; /* Adjust as needed */
    text-align: left;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px; /* Adjust spacing between list items */
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-and-script {
    display: flex;
    align-items: center;
}

.image-container {
    margin-right: 20px; /* Adjust as needed */
}

/* Optional: Style for button */
#fetchCharacter {
    padding: 10px 20px;
    font-size: 16px;
}
.project-container1 {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.project-details {
    margin-left: 20px;
}

.project-thumbnail {
    max-width: 200px;
    height: auto;
}
