* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    min-height: 100vh;
    margin: 0;
    background-color: #000000;
    font-family: sans-serif;
    overflow: hidden;
    color: white; /* Text color */
}

header, footer {
    width: 80%;
    max-width: 800px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    height: 60px;
    display: flex;
}

/* Styles for social icons */
.social-icons {
    display: flex;
}

/* Style for individual social icon */
.social-icon {
    margin: 0 5px;
}

/* Example styles for social icons */
.social-icon img {
    width: 30px;
    height: auto;
}
.index-pic {
    width: 200px; /* Adjust this value to your desired size */
}
.container {
    width: 80%;
    max-width: 800px;
    margin-top: 5px;
    margin-bottom: 60px;
    flex-grow: 1;
}                                                             

.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.image img {
    width: 300px; /* Adjust size as needed */
    height: auto;
}

.content ul {
    list-style-type: none;
    padding-left: 0;
}

/* Add more specific styles as needed */

header {
    background-color: #000000;
    color: white;
}

footer {
    background-color: #000000;
    padding: 20px;
    display: flex;
    justify-content: center; /* Center align content horizontally */
}

footer a {
    margin: 0 10px;
}

.icon {
    width: 20px; /* Adjust this size as needed */
    height: 20px; /* Adjust this size as needed */
    background-color: white;
    border-radius: 20px;
    margin: 0 2px; /* Adjust this spacing as needed */
}
.video-container {
    max-width: 600px; /* Set the maximum width of the container */
    max-height: 800px;
    margin: 0 auto; /* Center the container horizontally */
}

.video {
    width: 100%; /* Make the video fill the width of its container */
    height: 800px
}